lobby {
    .sidebar {
        position: relative;
        padding: 30px;
        width: 25%;

        h2 {
            color: $white;
            margin-bottom: 19px;
        }
        p {
            width: 90%;
        }
        .user {
            position: absolute;
            bottom: 13px;
            left: 13px;
            .name {
                font-weight: 700;
                color: $highlight;
            }
            .logout {
                @include action-text();
            }
        }
    }
    .room-list {
        width: 75%;
        margin-top: 47px;

        .create-new {
            overflow: auto;
            margin-bottom: 40px;
            input {
                @include text-field();
                margin: 12px 30px 0 0;
                width: 300px;
                float: left;
            }
            p {
                @include action-text();
                float: left;
                margin-top: 24px;
            }
        }

        li {
            @include action-text();
            overflow: auto;
            padding: 14px 0;

            .name {
                float: left;
                font-size: $big-font;
                line-height: 1em;
            }
            .count {
                display: none;
                float: left;
                font-size: $med-font;
                margin: 11px 0 0 10px;
                line-height: 1em;
            }

            &:hover {
                .count {
                    display: block;
                }
            }
        }
    }
    .create-room {
        display: none;
        margin-top: 71px;

        .name-label {
            margin-bottom: 13px;
        }

        .room-name {
            @include text-field();
            display: block;
            width: 500px;
        }
        .private-label {
            margin: 44px 0 13px;
        }
        .private {
            margin-bottom: 50px;
        }
        .cancel-btn {
            @include action-text();
            float: left;
        }
        .create-btn {
            margin-top: -12px;
            float: right;
        }
        .error {
            color: $highlight;
            margin-top: 12px;
        }
    }

    section.create {
        .room-list {
            display: none;
        }
        .create-room {
            display: block;
        }
    }
}