login {
    text-align: center;

    h1 {
        margin: 100px 0;
    }

    .first {
        p {
            margin-bottom: 20px;
        }
        .g-signin2 {
            display: inline-block;
            margin-bottom: 16px;

            .abcRioButton {
                outline: none;
                border-radius: 0;
                border: 0;
                box-shadow: 0;
            }
            .abcRioButtonContentWrapper {
                outline: none;
                border-radius: 0;
                border: 0;
                font-weight: 300;
                font-family: $sans;
                font-size: 14px;
                padding: 1px;
            }
        }
    }

    .wizard {
        display: none;
        p {
            margin-bottom: 20px;
        }
        input {
            @include text-field();
        }
        .error {
            margin-top: 20px;
            color: $highlight;
        }
    }

    .auth-youtube {
        display: none;
    }

    section.choose-name {
        .first {
            display: none;
        }
        .wizard {
            display: block;
        }
        .auth-youtube {
            display: none;
        }
    }

    section.authorize {
        .first {
            display: none;
        }
        .wizard {
            display: none;
        }
        .auth-youtube {
            display: block;
        }
    }
}