room {
    .avatar {
        position: relative;
        width: 42px;
        height: 42px;
        margin-right: 2px;
        float: left;

        img {
            &.full {
                opacity: 1;
            }
        }

        .avatar-name {
            display: none;
            position: absolute;
            text-align: center;
            cursor: default;
            top: 0px;
            left: 50%;
            margin-left: -70px;
            width: 140px;
            background: $highlight;
            color: $white;
            height: 42px;
            padding: 12px;
            z-index: 100;
            pointer-events: none;
        }

        &.playing {
            margin-top: 13px;
        }

        &:hover {
            .avatar-name {
                display: block;
            }
        }
    }

    .sidebar {
        position: relative;
        width: 25%;
        border-right: 2px solid $gray-dark;

        .search {
            @include text-field();
            margin: 0 0 30px;
            width: 25%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
        }

        .search-results {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 90;
            padding: 0 13px 13px;

            &.searching {
                display: block;
                background: $gray-dark;
            }

            .search-close {
                @include action-text();
                position: fixed;
                font-size: $med-font;
                z-index: 100;
                top: 70px;
                left: 13px;
            }

            .results-header {
                position: fixed;
                font-size: $med-font;
                top: 70px;
                right: 13px;
                .query {
                    color: $highlight;
                }
            }

            .results-holder {
                @include flexbox();
                flex-wrap: wrap;
                margin: 110px -7px;
                height: calc(100% - 110px);
                overflow-y: scroll;
                padding-bottom: 50px;
            }

            .result {
                padding: 0 7px;
                margin-bottom: 26px;
                width: 20%;

                img {
                    display: block;
                    margin-bottom: 13px;
                }
                .title {
                    color: $white;
                    margin-bottom: 10px;
                }
                .add {
                    @include action-text();
                }
                .added {
                    color: $white;
                    background: $pink;
                    display: inline-block;
                    padding: 0 2px;
                    cursor: default;
                }
            }
        }

        .container {
            margin-top: 72px;
            padding: 0 13px 13px;

            &.list-open {
                .dropdown {
                    .arrow-holder {
                        .arrow-up {
                            display: block;
                            border-bottom: 5px solid $white;
                        }
                        .arrow-down {
                            display: none;
                        }
                    }
                    .selected {
                        display: none;
                    }
                    .options {
                        display: block;
                        li {
                            margin-bottom: 10px;
                        }
                    }
                }
                .tracks {
                    display: none;
                }
            }
        }

        .dropdown {
            margin-bottom: 22px;
            cursor: pointer;
            position: relative;

            .arrow-holder {
                position: absolute;
                pointer-events: none;
                top: 7px;
                right: 0px;
                .arrow-up {
                    display: none;
                }
                .arrow-down {
                    display: block;
                }
            }
            .selected {
                color: $pink;
            }
            .options {
                display: none;

                li {
                    @include action-text();
                    &:first-child {
                        color: $gray-light;
                    }
                }
            }
        }

        .track-holder {
            overflow-y: scroll;
            height: calc(100% - 154px);
        }

        .tracks {
            li {
                margin-bottom: 22px;
                .num {
                    display: inline-block;
                    width: 16px;
                    color: $gray-med;
                }
                .delete {
                    display: none;
                    @include action-text();
                    text-transform: uppercase;
                    width: 16px;
                    font-weight: 700;
                }
                &:hover {
                    .num {
                        display: none;
                    }
                    .delete {
                        display: inline-block;
                    }
                }
            }
        }

        .new-playlist {
            margin-top: 20px;
            button {
                width: 100%;
                margin-top: 3px;
            }
        }

        .create-playlist {
            .name-label {
                margin-bottom: 13px;
            }

            .playlist-name {
                @include text-field();
                display: block;
                width: 100%;
                margin-bottom: 13px
            }

            .cancel-btn {
                @include action-text();
                float: left;
                margin-top: 12px;
            }
            .create-btn {
                float: right;
            }

            &.posting {
                pointer-events: none;
            }
        }

        .user {
            position: absolute;
            bottom: 13px;
            left: 13px;
            .name {
                font-weight: 700;
                color: $highlight;
            }
            .leave {
                @include action-text();
            }
        }
    }

    .chat {
        position: relative;
        padding: 13px;
        width: 25%;
        border-right: 2px solid $gray-dark;

        .room-name {
            color: $white;
            margin-bottom: 40px;
            font-weight: 500;
        }

        .convo {
            .message {
                margin-bottom: 22px;
                .user {
                    color: $highlight;
                }
            }
        }

        .chat-box {
            @include text-field();
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
        }
    }

    .stage {
        position: relative;
        width: 50%;

        .logo {
            position: absolute;
            right: 13px;
            bottom: 13px;
            text-transform: uppercase;
            font-size: 18px;
        }

        .video-holder {
            position: relative;

            .video {
                pointer-events: none;
                width: 100%;
                height: 28.125vw; //50% * 0.5625

                iframe {
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                }
            }

            .djs {
                position: absolute;
                top: 0;
                left: 0;

                .be-dj {
                    float: left;
                }
            }
            .quit-dj {
                position: absolute;
                top: 0;
                right: 0;
            }

            .overlay {
                display: none;
                position: absolute;
                height: 84px;
                width: 90%;
                bottom: 0px;
                right: 0px;

                .title {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    padding: 12px;
                    height: 42px;
                    background: $black;
                    color: $white;
                    font-weight: 500;
                }
                .like {
                    position: absolute;
                    right: 0px;
                    top: 42px;
                }
            }

            &:hover {
                .overlay {
                    display: block;
                }
            }
        }

        .audience {
            padding: 13px;
            .avatar {
                float: left;
                margin-right: 13px;
            }
        }
    }
}